*{margin: 10px;}

header{
background-color: rgb(229, 239, 201); 
text-align:center; 
padding: 10px;
}

strong{ 
background-color: rgba(229, 239, 201); 
color:rgb(64, 211, 34); 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:xx-large;  
}

footer{ 
background-color: rgb(236, 215, 215); 
}

p{
color:rgba(221, 99, 164, 0.954); 
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align:justify; 
font-size:medium;
}

textarea[name="user-input"] { 
width: 1000px; 
height: 150px; 
padding: 15px; 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
Color:black; 
background-color: rgb(250, 218, 230); 
border:2px solid #fa69cc; 
resize:vertical; 
align-items: center;
}

Body{
background-color: rgb(229, 239, 201);
}

.contadores {
list-style-type: none;
display:inline-block;
text-align: center ;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:medium;
color: rgb(240, 86, 143); 
margin-bottom: 10px;
}

li.contadores{ 
box-sizing: content-box;
padding: 10px;
border:4px solid #d78abf; 
width: 500px;
}

#reset-button{ 
color: rgb(240, 86, 143); 
border:3px solid #d78abf; 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:medium; 
width: 150px; 
height: 40px; 
padding: 10px; 
display:flex; 
justify-content:center; 
align-items: center;
margin-bottom: 10px;
}
